<footer th:fragment="foot">
    <div class="footer clearfix">
<!--        <div class="container">-->
<!--            <img class="footerlogo" src="images/footer.png" />-->
<!--            <ul class="social">-->

<!--                <a href="#"><li><img src="images/social/fb.png" /></li></a>-->
<!--                <a href="#"><li><img src="images/social/yt.png" /></li></a>-->
<!--                <a href="#"><li><img src="images/social/ig.png" /></li></a>-->
<!--            </ul>-->
<!--            <p class="rights">2019 - 2020 &copy; All copyrights reserved</p>-->
<!--        </div>-->
        <div class="container">
            <img class="footerlogo" src="images/footer.png" />

            <p class="rights">2019 - 2020 &copy; All copyrights reserved</p>
        </div>
    </div>
</footer>