<head th:fragment="headtags" xmlns:th="http://www.thymeleaf.org">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/media.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link th:href="${#httpServletRequest.getRequestURI() == '/login' ? '/css/registerform.css' : ''}" rel="stylesheet" />
    <link th:href="${#httpServletRequest.getRequestURI() == '/references' ? '/css/references.css' : ''}" rel="stylesheet" />
    <link th:href="${#httpServletRequest.getRequestURI() == '/profile' ? '/css/references.css' : ''}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">
    <script th:src="@{js/script.js}"></script>

    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
    <meta charset="utf-8" />
</head>