<header th:fragment="head" xmlns:th="http://www.thymeleaf.org">
    <div class="container clearfix">
        <a th:href="@{/}"><img class="logo" src="images/logo.png" alt="NBU Express" /></a>
        <p class="header-contact"><b>Contact us:</b> <br>
            <b>Mobile:</b> <a href="#">+359888451432</a> <br>
            <b>Phone:</b> <a href="#">096100105</a> <br>
            <b>Email:</b> <a href="#">office@nbuexpress.bg</a>
        </p>
    </div>
    <img class="burger-menu" src="images/menu.png" />
    <div class="navbg">
        <div class="container">
            <ul class="nav clearfix">
                <a th:href="@{/}"><li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}">Home</li></a>
                <a th:href="@{/offices}"><li th:classappend="${#httpServletRequest.getRequestURI() == '/offices' ? 'active':''}">Offices</li></a>
                <a th:href="@{/aboutus}"><li th:classappend="${#httpServletRequest.getRequestURI() == '/aboutus' ? 'active':''}">About us</li></a>
                <a th:href="@{/profile}"><li sec:authorize="isAuthenticated()" th:classappend="${#httpServletRequest.getRequestURI() == '/profile' ? 'active':''}">Profile</li></a>
                <a th:href="@{/login}"><li sec:authorize="!isAuthenticated()" th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}">Log in</li></a>
                <li sec:authorize="isAuthenticated()">
                    <form name="logoutForm" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out"/>
                    </form>
                </li>
                <form class="searchform">
                    <input type="text" class="search" placeholder="Search or track.." name="search">
                    <button class="searchsub" type="submit"><img src="images/search.png" /></button>
                </form>
            </ul>
        </div>
    </div>
</header>