@media screen and (max-width: 1050px) {
    .container {
        width: 90%;
    }
    .calculate {
        width: 25%;
        padding: 2.5%;
        text-align: center;
    }
    .navbuttons {
        float: none;
    }
    .navdesc {
        display: none;
    }
    .navtitle {
        margin: 0px;
        height: 60px;
        font-size: 22px;
        max-width: 100%;

    }
    .navimage {
        height: 10vw;
        width: auto;
        max-height: 63px;
        padding: 5%;
        float: none;
    }
    .footerlogo {
        height: 40px;
    }
    .social li img {
        height: 40px;
    }
    .sort input,
    .sort select {
        display: block;
    }
    .sort label {
        padding: 5px 0px;
        display: block;
        margin: 0px;
    }
}

@media screen and (max-width: 650px) {
    .container {
        width: 95%;
    }
    .burger-menu {
        display: block;
        height: 50px;
        margin: 0px;
        width: auto;
        background-color: #030027;
        margin: 10px 0px;
        padding: 5px 5px 5px 15px;
    }
    .calculate {
        width: 80%;
        float: none;
    }
    .navtitle {
        font-size: 18px;
        max-width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
    }
    .logo {
        display: block;
        margin: 0 auto;
        float: none;
    }
    .navbg {
        display: none;
    }
    .header-contact {
        display: none;
    }
    .navdesc {
        display: block;
        margin: 10px 0px;
    }
    .nav li {
        display: block;
    }
    .navbg {
        padding: 10px 0px;
    }
    .searchform {
        display: none;
    }

    .track {
        text-align: center;
        background-color: #030027;
        display: block;
        padding: 10px;
        margin: 10px 0px;
    }

    .searchform2 {
        padding: 10px 0px;
    }

    .searchform2 input {
        width: 80%;
        height: 30px;
        padding: 0px 5px;
    }

    .searchform2 button {
        float: left;
        height: 30px;
        padding: 5px 10px;
    }

    .footerlogo {
        display: block;
        margin: 0 auto;
        float: none;
    }

    .social {
        width: 100%;
        float: none;
        display: inline-block;
        padding: 10px 0px;
    }
    .footer {
        text-align: center;
        padding: 10px 0px 10px 0px;
    }
    .social span {
        display: none;
    }
    .footerlogo {
        height: 30px;
    }
    .social li img {
        height: 40px;
    }
    .article-left,
    .article-right {
        float: none;
        width: 90%;
        padding: 5%;
    }
    .rights {
        margin: 0px;
        float: none;
        text-align: center;
    }
    .navbuttons {
        width: 100%;
        padding: 0px;
        text-align: center;
    }
    .packageimg {
        width: 100%;
        height: auto;
    }
    .sendpackage {
        width: 100%;
        height: auto;
    }
    .sendpackage h3 {
        font-size: 5vw;
    }
    .sendpackage button {
        width: 40%;
        height: auto;
    }

    .sort input,
    .sort select {
        display: block;
    }
    .sort label {
        padding: 5px 5px 5px 0px;
        margin: 0px;
    }
    .sort select {
        padding: 5px;
    }
}
@media screen and (min-width: 650px) {
    .navbg {
        display: block !important;
    }
}