table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #030027;
  background: rgb(3,0,39); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(3,0,39,1) 0%, rgba(1,0,51,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(3,0,39,1) 0%,rgba(1,0,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(3,0,39,1) 0%,rgba(1,0,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030027', endColorstr='#010033',GradientType=0 ); /* IE6-9 */
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.tableicon {
  height: 22px;
  width: auto;
}

.edit {
  width: 30px;
  text-align: center;
}

.delete {
  text-align: center;
  width: 40px;
}

.reference-info {
  display: none;
  padding: 10px 5px;
}

.reference-nav {
  margin: 20px 0px;
}

.reference-nav li {
  background: #030027;
  color: #ffffff;
  font-weight: 700;
  font-family: Arial, sans-serif;
  padding: 10px;
  background: rgb(3,0,39); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(3,0,39,1) 0%, rgba(1,0,51,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(3,0,39,1) 0%,rgba(1,0,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(3,0,39,1) 0%,rgba(1,0,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030027', endColorstr='#010033',GradientType=0 ); /* IE6-9 */
}

.reference-nav li img {
  height: 25px;
  width: auto;
  float: right;
}

.accepted {
  content: url('../images/icons/yes.png');
  text-align: center;
}

.notaccepted {
  content: url('../images/icons/no.png');
}

.status {
  width: 30px;
  text-align: center;
}

.registerShipment,
.registerOffice,
.registerWorker{
  margin: 10px 0px;
  padding: 10px 5px;
  background-color: #f0a202;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  float: right;
  cursor: pointer;
}

.shipmentreg,
.workerreg,
.officereg,
.officeedit,
.workeredit,
.shipmentedit,
.clientedit {
  margin: 50px 0px;
  padding: 20px 30px;
  display: inline-block;
  background-color: #f0a202;
  border-radius: 10px;
  display: none;
}

.shipmentreg label,
.workerreg label,
.officereg label,
.officeedit label,
.workeredit label,
.shipmentedit label,
.clientedit label {
  color: #ffffff;
  padding: 10px 0px;
  display: block;
  text-align: left;
}

.shipmentreg input,
.workerreg input,
.officereg input,
.officeedit input,
.workeredit input,
.shipmentedit input,
.clientedit input {
  border: 1px solid #030027;
  border-radius: 5px;
  display: block;
  padding: 10px 5px;
  clear: both;
}

.shipmentreg h3,
.workerreg h3,
.officereg h3,
.officeedit h3,
.workeredit h3,
.shipmentedit h3,
.clientedit h3 {
  color: #ffffff;
}

.reference-nav li {
  border-radius: 10px;
  font-family: 'Exo 2', sans-serif;
}

.shipmentreg input[type=button],
.workerreg input[type=button],
.officereg input[type=button],
.officeedit input[type=button],
.workeredit input[type=button],
.shipmentedit input[type=button],
.clientedit input[type=button] {
  background-color: #030027;
  padding: 10px 15px;
  margin: 10px 0px;
  color: #ffffff;
  font-weight: 700;
  width: 100%;
}

.shipmentreg select,
.workerreg select,
.officereg select,
.officeedit select,
.workeredit select,
.shipmentedit select,
.clientedit select {
  padding: 10px 5px;
  display: block;
}

.shipmentedit select,
.clientedit select {
  margin: 0px 0px 10px 0px;
}

.sort {
  padding: 10px 0px;
  display: block !important;
}

.sort h3 {
  margin: 0px;
  padding: 5px 0px;
}

.sort label {
  margin-left: 5px;
  line-height: 40px;
}

.sort input {
  padding: 5px;
}

.salary::before,
.newsalary::before {
  content: "$";
}

.kg::after {
  content: "kg";
}

.personalT input[name=birthdate] {
  background: none;
  border: none;
}

td a {
  font-weight: 700;
  font-size: 15px;
  color: #030027;
}

.clientedit input:read-only {
  background-color: #cccccc;
}

input[type=tel]::-webkit-inner-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[name=newsalary]::before {
  content: "$";
}


.resetfilters {
  cursor: pointer;
  display: none;
  padding: 10px 0px;
}

.officeList {
  display: none;
}

.addressPick {
  display: none;
}

.office {
  content: url('../images/icons/office.png');
}

.address {
  content: url('../images/icons/home.png');
}

.deliverytype {
  text-align: center;
}

.switch {
  text-align: center;
}

.switch input[type=checkbox] {
  cursor: not-allowed;
}

.employeename,
.deliverstatus{
  display: none;
}

.hidden {
  display: none;
}