* {box-sizing: border-box}

/* Add padding to containers */


/* Full-width input fields */
.registerform input[type=text], .registerform input[type=password],
.loginform input[type=text], .loginform input[type=password],
.registerform input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.registerform input[type=text]:focus, .registerform input[type=password]:focus,
.loginform input[type=text]:focus, .loginform input[type=password]:focus,
.registerform input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
.registerform hr,
.loginform hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn,
.loginbtn {
  background-color: #f0a202;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover,
.loginbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
.registerform a,
.loginform a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
  padding: 2px 0px;
}

.registerform label,
.loginform label {
	color: #030027;
}

.registerform p,
.loginform p {
	color: #030027;
}

.registerform {
	display: none;
}

.wronglogin,
.passwordreq {
  background-color: #f1f1f1;
  display: block;
  border: 2px solid #b33a3a;
}

.wronglogin img,
.passwordreq img{
  float: left;
  padding: 10px;
  height: 60px;
  width: auto;
  background-color: #b33a3a;
  margin: 0px 5px 0px 0px;
}

.wronglogin p,
.passwordreq p {
  padding: 20px;
  margin: 0px;
}

.passwordreq {
  display: none;
}