/*
	https://coolors.co/f0a202-f18805-030027-202c59-f2f3d9
	yellow: f0a202
	orange:	f78307
	dark blue: 030027
*/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body {
	margin: 0px;
	padding: 0px;
	margin-bottom: 170px;
	/*font-family: Calibri;*/
	font-family: 'Exo 2', sans-serif;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

a {
	text-decoration: none;
	color: #030027;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.logo {
	height: 150px;
	width: auto;
	margin: 10px;
	float: left;
}

.header-contact {
	float: right;
	color: #030027;
	line-height: 20px;
}

.searchform {
	display: inline-block;
	float: right;
	padding: 7px;
}

.searchbox {
	float: right;
	display: inline-block;
}

.search {
	display: inline-block;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #ffffff;
	border: none;
	padding: 5px;
	color: #030027;
	font-weight: 700;
	float: left;
}

.search::placeholder {
	color: rgba(3, 0, 39, .8);
	font-weight: 300;
}

.searchsub {
	border: none;
	background-color: #f0a202;
	cursor: pointer;
}

.searchsub:hover {
	background-color: #f78307;
}

.searchsub img {
	width: 20px;
	height: auto;
}

.burger-menu {
	display: none;
	cursor: pointer;
}

.navbg {
	width: 100%;
	background-color: #030027;
}

.nav {
	list-style: none;
	display: inline;
}

.nav li,
.nav input[type=submit]{
	display: inline-block;
	color: #ffffff;
	padding: 10px;
}

.nav input[type=submit] {
	background: none !important;
	border: none;
	cursor: pointer;
	padding: 0px;
}

.nav li:hover,
.nav .active,
.nav input[type=submit]{
	background-color: rgba(255, 255, 255, .2);
}

.nav span {
	font-weight: 700;
}

.navbuttons {
	padding: 50px;
	float: left;
	width: 100%;
}

.calculate,
.references {
	background-color: #f0a202;
	color: #ffffff;
	display: inline-block;
	border-radius: 10px;
	float:left;
	width: 46%;
	margin: 1%;
	padding: 1%;
}

.navimage {
	float: left;
	height: 100px;
	width: auto;
	padding: 20px;
}

.navdesc,
.articledesc
{
	padding: 0px;
	margin: 0px;
}

.track {
	display: none;
}

.calculate:hover {
	background-color: #f78307;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
}

.footer {
	background-color: #030027;
	padding: 10px 0px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

.footerlogo {
	height: 40px;
	width: auto;
	float: left;
}

.social {
	color: #030027;
	text-align: center;
	font-size: 18px;
}

.social li {
	display: inline;
}

.rights {
	color: #ffffff;
	float: right;
	text-align: right;
	overflow: hidden;
	font-size:
	margin: 10px 0px;
	font-family: 'Exo 2', sans-serif;
}

.social img {
	height: 50px;
	width: auto;
}

.socialbox {
	width: 30%;
	padding: 1.5%;
	float: left;
	font-family: 'Exo 2', sans-serif;
}

.socialbox:hover {
	background-color: #f1f1f1;
}

.navtitle,
.articletitle {
	color: #fff;
	font-size: 20px;
}

.article-left {
	float: left;
	width: 55%;
}

.articletitle {
	color: #030027;
}

.article-right {
	float: right;
	width: 35%;
	background-color: #f0a202;
	padding: 20px;
	height: 100%;
}
.contact-form {

}

.contact-form label,
.contact-form input {
	float: left;
}

.contact-form label {
	color: #030027;
	font-weight: 700;
}

.contact-form input,
.contact-form textarea {
	display: block;
	width: 98%;
	padding: 2% 1%;
	border-radius: 10px;
	border: none;
	margin: 5px 0px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
	color: rgba(3, 0, 39, .8);
}

.sendpackage {
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 500px;
	height: auto;
}

.packageimg {
	width: 500px;
	height: auto;
}

.sendpackage h3 {
	margin: 0px;
	padding: 10px;
	font-size: 26px;
}

.textover {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 100%;
	margin-left: -10px;
}

.sendpackage a {
	display: inline-block;
	padding: 15px;
	cursor: pointer;
	background-color: #f0a202;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	opacity: 1;
	margin: 30px 0px 0px 0px;
}

.sendpackage a:hover {
	opacity: 1;
	background-color: #f78307;
}

.pagetitle {
	color: #030027;
	font-size: 24px;
	font-family: 'Exo 2', sans-serif;
}

.calculatorform label {
	color: #030027;
	font-weight: 700;
}

.calculatorform input {
	border-radius: 10px;
	border: 1px solid #030027;
	overflow: hidden;
	text-align: right;
}

.calculatorform label,
.calculatorform input {
	padding: 10px;
	margin: 10px 0px;
}

.calculatorform input[type=radio] {
	margin-left: 30px;
}

.pricetag {
	display: none;
}

.calculatorform input[value=Submit] {
	background-color: #030027;
	color: #ffffff;
	padding: 10px 15px;
	border-radius: 15px;
	font-weight: 700;
	margin: 10px 0px;
	cursor: pointer;
}

.office-box h3 {
	font-size: 24px;
	padding: 5px 0px;
	margin: 5px 0px;
}

.office-box span {
	font-weight: 700;
	display: inline-block;
	padding: 10px 0px 0px 0px;
}

.office-box span:nth-child(1) {
	padding: 0px;
	color: #030027;
}

.office-box p {
	padding: 0px 0px 10px 0px;
	margin: 0px 10px;
}

.logoutalert {
	background-color: #f1f1f1;
	color: #000000;
	display: block;
	border: 1px solid #a1a1a1;
	margin: 10px 0px;
	padding: 5px;
}

.logoutalert p {
	float: left;
	margin: 5px;
	padding: 5px 0px;
}

.logoutalert span {
	background-color: #b33a3a;
	color: #ffffff;
	padding: 5px 10px;
	margin: 5px;
	float: right;
	cursor: pointer;
}

.hellomessage {
	background-color: #f1f1f1;
	color: #000000;
	margin: 20px 0px;
	border-radius: 10px;
	padding: 25px 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
}

.hellomessage span {
	font-weight: 700;
}

.registerShipment,
.registerOffice {
	margin: 10px 0px;
	padding: 10px 5px;
	background-color: #f0a202;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	float: right;
	cursor: pointer;
}

.shipmentregister {
	margin: 50px 0px;
	padding: 20px 30px;
	display: none;
}

.shipmentwrapper {
	display: inline-block;
	width: 100%;
	text-align: center;
	background-color: rgba(3,0,39,.35);
	border-radius: 10px;
}

.shipmentregister label {
	color: #ffffff;
	padding: 10px 0px;
	display: block;
	text-align: left;
}

.shipmentregister input {
	border: 1px solid #030027;
	border-radius: 5px;
	display: block;
	padding: 10px 5px;
	clear: both;
}

.shipmentregister h3 {
	color: #ffffff;
}

.shipmentregister input[type=button] {
	background-color: #ffffff;
	padding: 10px 15px;
	margin: 10px 0px;
	color: #030027;
	font-weight: 700;
	width: 100%;
}

.shipmentreg select {
	padding: 10px 5px;
	display: block;
}

.shipmentedit select {
	margin: 0px 0px 10px 0px;
}

.shipmentregister .officeList,
.shipmentregister .addressPick {
	display: none;
}

.office-info {
	padding: 20px 10px;
	border-radius: 10px;
}

.office-info li {
	padding: 10px;
}

.office-info:nth-child(odd) {
	background-color: #f1f1f1;
}

.office-info li[for=city]:before {
	margin: 0px 10px -2px 0px;
	content: '';
	background:url('../images/icons/city.png');
	background-size: cover;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.office-info li[for=address]:before {
	margin: 0px 10px -2px 0px;
	content: '';
	background:url('../images/icons/location.png');
	background-size: cover;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.office-info li[for=workingtime]:before {
	margin: 0px 10px -2px 0px;
	content: '';
	background:url('../images/icons/clock.png');
	background-size: cover;
	width: 20px;
	height: 20px;
	display: inline-block;
}