<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="fragments/headtags::headtags">
	</head>
	<head><title>NBU Express</title></head>
	<body>
		<div th:replace="fragments/head::head"></div>
		<div class="container clearfix">
				<!--
					EDIT BETWEEN THIS COMMENT
				-->
			<div class="logoutalert clearfix" th:if="${param.logout}">
				<p>You have been logged out.</p>
				<span>X</span>
			</div>
			<div class="hellomessage" sec:authorize="isAuthenticated()">
				Hello, <span sec:authentication="name"></span>
			</div>
			<div class="navbuttons clearfix">
<!--				<div class="track clearfix">-->
<!--					<h3 class="navtitle">Track delivery</h3>-->
<!--					<form class="searchform2 cleafix">-->
<!--					  <input type="text" class="search" placeholder="Enter tracking number.." name="search">-->
<!--					  <button class="searchsub" type="submit"><img src="images/search.png" /></button>-->
<!--					 </form>-->
<!--				</div>-->
				<div sec:authorize="!isAuthenticated()" class="sendpackage">
					<img class="packageimg" src="images/package.png" />
					<div class="textover">
						<h3 class="navtitle">Send shipments from home and courier will come pick the package!</h3>
						<a href="login2.html">Sign in now!</a>
					</div>
				</div>
				<a th:href="@{calculate}">
					<div class="calculate">
						<img class="navimage" src="images/calculator.png" />
						<h3 class="navtitle">Calculate costs</h3>
						<p class="navdesc">Calculate the costs for delivery based on weight and delivery type.</p>
					</div>
				</a>
				<a sec:authorize="isAuthenticated()" class="shipmentformregister" href="#">
					<div class="calculate">
						<img class="navimage" src="images/truck.png" />
						<h3 class="navtitle">Send delivery</h3>
						<p class="navdesc">Send delivery with just 2 clicks.</p>
					</div>
				</a>
				<a sec:authorize="isAuthenticated()" th:href="@{/references}">
					<div class="calculate">
						<img class="navimage" src="images/personal.png" />
						<h3 class="navtitle">References</h3>
						<p class="navdesc">Get more information on personal, clients, orders and etc.</p>
					</div>
				</a>
			</div>
			<div sec:authorize="isAuthenticated()" class="shipmentwrapper">
				<form class="shipmentregister" th:action="@{/create-shipment}" th:object="${shipment}" method="post">
					<h3 class="pagetitle">Register new shipment</h3>
					<label for="sentto"><b>Sent to: </b></label>
					<input type="text" maxlength="64" placeholder="Enter email.." th:field="*{recipientName}" name="sentto" required /><br />


					<label for="weight"><b>Weight</b></label>
					<input type="number" placeholder="Enter weight.." name="weight" th:field="*{weight}" step="0.01" required/><br />

					<label for="deliverytype"><b>Delivery type</b></label>
					<select class="deliverytype" th:field="*{isSentToAddress}">
						<option disabled selected th:value="0">Select delivery type</option>
						<option value="office" th:value="office">Office</option>
						<option value="address" th:value="address">Address</option>
					</select>
					<div class="officeList">
						<label>Which office:</label>
						<select th:field="*{office}">
							<option value="" selected="selected"> </option>
							<option th:each="office : ${offices}" th:text="${office.city + ', ' + office.address}" th:value="${office.id}"></option>
						</select>
					</div>
					<div class="addressPick">
						<label>Address for delivery:</label>
						<input type="text" placeholder="Enter address.." th:field="*{shippingAddress}"/>
					</div>

					<input type="submit" value="Submit" id="btnsubmit" onclick="">
				</form>
			</div>
			<div class="social">
				<h3 class="pagetitle">Follow us on social</h3>
				<div class="socialbox">
					<a href="#"><img class="social" src="images/social/fb.png" />
					<h4>Facebook</h4></a>
				</div>
				<div class="socialbox">
					<a href="#"><img class="social" src="images/social/twit.png" />
					<h4>Twitter</h4></a>
				</div>
				<div class="socialbox">
					<a href="#"><img class="social" src="images/social/ig.png" />
					<h4>Instagram</h4></a>
				</div>
			</div>
				<!--
					AND THIS COMMENT
				-->
		</div>
		<div th:replace="fragments/footer::foot"></div>
	</body>
</html>