<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
</head>
<body>
<h1>Home Page</h1>
<p>Hello to the home page!</p>
<a href="/admin" sec:authorize="hasRole('ADMIN')">Admin portal</a>
<a th:href="@{/login}"><li class="active">Log in</li></a>
<p sec:authorize="isAuthenticated()">
	User:<span sec:authentication="name"/><br/>
	Role(s):<span sec:authentication="principal.authorities"/>
</p>

<form th:action="@{/register}" sec:authorize="!isAuthenticated()" method="get">
	<input type="submit" value="Register"/>
</form>
<form th:action="@{/login}" sec:authorize="!isAuthenticated()" method="get">
	<input type="submit" value="Login"/>
</form>
<form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
	<input type="submit" value="Logout"/>
</form>
</body>
</html>










<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link th:href="@{/css/media.css}" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script th:src="@{js/script.js}"></script>
	<link rel="icon" type="image/png" href="images/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
	<title>NBU Express</title>
	<meta charset="utf-8" />
</head>
<body>
<div th:replace="fragments/head::head"></div>
<div class="container clearfix">
	<!--
        EDIT BETWEEN THIS COMMENT
    -->

	<div class="navbuttons">
		<p sec:authorize="isAuthenticated()">
			User:<span sec:authentication="name"/><br/>
			Role(s):<span sec:authentication="principal.authorities"/>
		</p>
		<div class="track clearfix">
			<h3 class="navtitle">Track delivery</h3>
			<form class="searchform2">
				<input type="text" class="search" placeholder="Enter tracking number.." name="search">
				<button class="searchsub" type="submit"><img src="images/search.png" /></button>
			</form>
		</div>
		<div class="sendpackage">
			<img class="packageimg" src="images/package.png" />
			<div class="textover">
				<h3 class="navtitle">No delivery for first order for 2020! Use code gift2020!</h3>
				<a href="login2.html">Sign in now!</a>
			</div>
		</div>
		<a href="calculate.html">
			<div class="calculate">
				<img class="navimage" src="images/calculator.png" />
				<h3 class="navtitle">Calculate costs</h3>
				<p class="navdesc">Calculate the costs for delivery based on weight and delivery type.</p>
			</div>
		</a>
		<a href="references2.html">
			<div class="calculate">
				<img class="navimage" src="images/personal.png" />
				<h3 class="navtitle">References</h3>
				<p class="navdesc">Get more information on personal, clients, orders and etc.</p>
			</div>
		</a>
	</div>

	<!--
        AND THIS COMMENT
    -->
</div>
<div th:replace="fragments/footer::foot"></div>
</body>
</html>