<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/headtags::headtags">
</head>
<head><title>NBU Express</title></head>
<body>
<div th:replace="fragments/head::head"></div>
<div class="container clearfix">
    <!--
        EDIT BETWEEN THIS COMMENT
    -->
<!--    <ul class="office-info" th:each="office : ${offices}">-->
<!--        <li th:text="${office.city}">Sofia</li>-->
<!--        <li th:text="${office.address}">ul. 20-ti April 15</li>-->
<!--        <li th:text="${office.workingTime}">8:00-17:00</li>-->
<!--    </ul>-->
    <h3 class="pagetitle">Offices</h3>
    <ul class="office-info">
        <li for="city">Sofia</li>
        <li for="address">ul. 20-ti April 15</li>
        <li for="workingtime">8:00-17:00</li>
    </ul>
    <ul class="office-info">
        <li for="city">Sofia</li>
        <li for="address">ul. 20-ti April 15</li>
        <li for="workingtime">8:00-17:00</li>
    </ul>
    <ul class="office-info">
        <li for="city">Sofia</li>
        <li for="address">ul. 20-ti April 15</li>
        <li for="workingtime">8:00-17:00</li>
    </ul>
    <ul class="office-info">
        <li for="city">Sofia</li>
        <li for="address">ul. 20-ti April 15</li>
        <li for="workingtime">8:00-17:00</li>
    </ul>
    <!--
        AND THIS COMMENT
    -->
</div>
<div th:replace="fragments/footer::foot"></div>
</body>
</html>