<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/headtags::headtags">
</head>
<head><title>NBU Express</title></head>
<body>
<div th:replace="fragments/head::head"></div>
<div class="container clearfix">
    <!--
        EDIT BETWEEN THIS COMMENT
    -->
    <h3 class="pagetitle">Delivery history</h3>
    <table class="blueTable profileT">
        <thead>
        <tr>
            <th>Sent by</th>
            <th>Sent to</th>
            <th>Weight</th>
            <th>Address</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
        <tr th:each="profile : ${shipments}">
            <td class="row-data" th:text="${profile.senderName}"></td>
            <td class="row-data" th:text="${profile.recipientName}"></td>
            <td class="row-data" th:text="${profile.weight}"></td>
            <td class="row-data" th:text="${profile.shippingAddress}"></td>
            <td class="deliverytype" th:text="${profile.isSentToAddress}"></td>
            <td class="status" th:text="${profile.isReceived}"></td>
        </tr>
        </tbody>
    <!--
        AND THIS COMMENT
    -->
</div>
<div th:replace="fragments/footer::foot"></div>
</body>
</html>