<!doctype html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:include="fragments/headtags::headtags">
	</head>
	<head>
		<title>References - NBU Express</title>
	</head>
	<body>
		<div th:replace="fragments/head::head"></div>
		<div class="container clearfix">
				<!-- 
					EDIT BETWEEN THIS COMMENT
				-->
		<h3 class="pagetitle">References</h3>
		<ul class="reference-nav clearfix">
			<a class="reference-title" href="#"><li>Personal <img class="arrow" src="images/icons/arrowdown.png" /></li></a>
			<div class="reference-info clearfix">
				<table class="blueTable personalT">
					<thead>
					<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Salary</th>
					<th>Role</th>
					<th class="edit">Edit</th>
					<th class="delete">Delete</th>
					</tr>
					</thead>
					<tfoot>
					</tfoot>
					<tbody>
					<tr th:each="employee : ${allEmployees}">
					<td th:text="${employee.name}"></td>
					<td th:text="${employee.email}"></td>
					<td class="salary" th:text="${employee.salary}"></td>
					<td th:text="${employee.role}"></td>
					<td class="edit"><a href="#"><img class="tableicon" src="images/icons/edit.png" /></a></td>
					<td class="delete"><a th:href="@{/delete-user(userId=${employee.id})}"><img class="tableicon" alt ="Delete" src="images/icons/delete.png" /></a></td>
					</tr>
				</tbody>
				</table>
				<button class="registerWorker">Register new worker</button>
<!--				<form class="workerreg"  th:action="@{/create-employee}" th:object="${user}" method="post">-->
<!--					<h3 class="pagetitle">Register new worker</h3>-->
<!--					<label for="name"><b>Name: </b></label>-->
<!--				    <input th:field="*{name}"  type="text" placeholder="Enter.." name="name" required /><br />-->

<!--				    <label for="email"><b>Email: </b></label>-->
<!--				    <input th:field="*{email}" type="text" maxlength="64" name="email" placeholder="Enter email.." required="">-->

<!--					<label for="password"><b>Password: </b></label>-->
<!--					<input th:field="*{password}" type="password" name="password" required="">-->

<!--					<label for="phone"><b>Phone Number</b></label>-->
<!--					<input th:field="*{phoneNumber}" type="tel" placeholder="Phone Number" maxlength="10" name="phone" required>-->

<!--				    <label for="salary"><b>Salary ($): </b></label>-->
<!--				    <input th:field="*{salary}" type="number" placeholder="Enter salary.." name="salary"  step="0.01" required/><br />-->

<!--				    <label for="weight"><b>Role: </b></label>-->
<!--				    <select th:field="*{role}" class="roles" name="roles">-->
<!--				    	<option disabled selected>Select role..</option>-->
<!--						<option th:each="workerrole : ${userTypes}" th:text="${workerrole.name}" th:value="${workerrole.name}" ></option>-->
<!--					    <option value="OFFICE">Office</option>-->
<!--					    <option value="COURIER">Courier</option>-->
<!--					</select><br />-->
<!--				    <input type="submit" value="Submit" class="btnsubmit" onclick="">-->
<!--				</form>-->
				<form class="workeredit">
					<h3 class="pagetitle">Edit worker info</h3>
					<label for="name"><b>Name: </b></label>
				    <input type="text" placeholder="Enter.." name="name" required /><br />

					<label for="email"><b>Email: </b></label>
					<input type="text" maxlength="64" name="email" placeholder="Enter email.." required="">

				    <label for="weight"><b>Salary ($): </b></label>
				    <input type="number" placeholder="Enter salary.." name="newsalary"  step="0.01" required/><br />

				    <label for="role"><b>Role: </b></label>
				    <select class="roles" name="roles">
				    	<option disabled selected>Select role..</option>
					    <option value="OFFICE">Office</option>
					    <option value="COURIER">Courier</option>
					</select><br />
				    <input type="submit" value="Submit" class="btnsubmit" onclick="edit()">
				</form>
			</div>
		</ul>
		<ul class="reference-nav clearfix">
			<a class="reference-title" href="#"><li>Clients <img class="arrow" src="images/icons/arrowdown.png" /></li></a>
			<div class="reference-info clearfix">
				<table class="blueTable clientsT">
					<thead>
					<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone Number:</th>
					<th class="edit">Edit</th>
					<th class="delete">Status</th>
					</tr>
					</thead>
					<tfoot>
					</tfoot>
					<tbody>
					<tr th:each="client : ${allClients}">
					<td th:text="${client.name}"></td>
					<td th:text="${client.email}"></td>
					<td th:text="${client.phoneNumber}"></td>
					<td class="edit"><a href="#"><img class="tableicon" src="images/icons/edit.png" /></a></td>
					<td class="switch"><input th:value="${client.isEnabled}" type="checkbox" disabled ><a th:href="@{/delete-user(userId=${client.id})}"></a></td>
					</tr>
				</tbody>
				</table>
				<form class="clientedit">
					<h3 class="pagetitle">Edit client info</h3>
					<label for="name"><b>Name: </b></label>
				    <input type="text" maxlength="64" placeholder="Enter name.." name="name" required /><br />

				    <label for="email"><b>Email: </b></label>
				    <input type="email" maxlength="64" placeholder="Enter email.." name="email" required /><br />

				    <label for="orders"><b>Phone number: </b></label>
				    <input type="tel" placeholder="Phone number.." name="phone"  required /><br />

				    <input type="button" value="Submit" class="btnsubmit" onclick="edit()">
				</form>
			</div>
		</ul>
		<ul class="reference-nav clearfix">
			<a class="reference-title" href="#"><li>Shipment <img class="arrow" src="images/icons/arrowdown.png" /></li></a>
			<div class="reference-info clearfix">
				<form class="sort">		
					<h3 class="pagetitle">Filter by: </h3>			
					<label>Registered by: </label>
					<select>
						<option disabled selected>Select..</option>
						<option th:each="gogogo : ${allEmployees}" th:text="${gogogo.name}"></option>
					</select><br>
					<label>Show only: </label>
					<select value="shipmentStatus">
						<option disabled selected>Select..</option>
						<option value="onlyaccepted">Accepted</option>
						<option value="onlynotaccepted">Not accepted</option>
					</select><br>
					<label>Sent by: </label>
					<select value="sentby">
						<option disabled selected>Sent by:</option>
						<option th:each="sender : ${allSenders}" th:text="${sender.name}"></option>
					</select><br>
					<label>Accepted by: </label>
					<select>
						<option disabled selected>Received by:</option>
						<option th:each="receiver : ${allReceivers}" th:text="${receiver.name}"></option>
					</select><br>
					<h3 class="resetfilters">Reset filters</h4>
				</form>
				<table class="blueTable shipmentT">
					<thead>
					<tr>
					<th>Sent by</th>
					<th>Sent to</th>
					<th>Weight</th>
					<th>Address</th>
					<th>Type</th>
					<th>Status</th>
					<th class="edit">Edit</th>
					</tr>
					</thead>
					<tfoot>
					</tfoot>
					<tbody>
					<tr th:each="shipment : ${allShipments}">
						<td class="row-data" th:text="${shipment.senderName}"></td>
						<td class="row-data" th:text="${shipment.recipientName}"></td>
						<td class="row-data" th:text="${shipment.weight}"></td>
						<td class="row-data" th:text="${shipment.shippingAddress}"></td>
						<td class="deliverytype" th:text="${shipment.isSentToAddress}"></td>
						<td class="status" th:text="${shipment.isReceived}"></td>
						<td class="edit"><a href="#"><img class="tableicon" src="images/icons/edit.png" /></a></td>
					</tr>
				</tbody>
				</table>
				<button class="registerShipment">Register new shipment</button>
<!--				<form class="shipmentreg" th:action="@{/create-shipment}" th:object="${shipment}" method="post">-->
<!--					<h3 class="pagetitle">Register new shipment</h3>-->
<!--					<label for="sentby"><b>Sent by: </b></label>-->
<!--				    <input th:field="*{senderName}" type="text" maxlength="64" placeholder="Enter name.." name="sentby" required /><br />-->

<!--				    <label for="sentto"><b>Sent to: </b></label>-->
<!--				    <input th:field="*{recipientName}" type="text" maxlength="64" placeholder="Enter email.." name="sentto" required /><br />-->


<!--				    <label for="weight"><b>Weight</b></label>-->
<!--				    <input th:field="*{weight}" type="number" placeholder="Enter weight.." name="weight"  step="0.001" required/><br />-->

<!--					<label for="deliverytype"><b>Delivery type</b></label>-->
<!--					<select class="deliverytype">-->
<!--						<option disabled selected>Select delivery type</option>-->
<!--						<option value="office">Office</option>-->
<!--						<option value="address">Address</option>-->
<!--					</select>-->
<!--					<div class="officeList">-->
<!--						<label>Which office:</label>-->
<!--						<select th:field="*{office}">-->
<!--							<option value="" selected="selected"> </option>-->
<!--							<option th:each="office : ${offices}" th:value="${office.address}" th:text="${office.city + ', ' + office.address}"></option0>-->
<!--						</select>-->
<!--					</div>-->
<!--					<div class="addressPick">-->
<!--						<label>Address for delivery:</label>-->
<!--						<input th:field="*{shippingAddress}" type="text" placeholder="Enter address.." />-->
<!--					</div>-->

<!--					<input type="submit" value="Submit" class="btnsubmit" onclick="">-->
<!--				</form>-->
				<form class="shipmentedit">
					<h3 class="pagetitle">Edit shipment</h3>
					<label for="sentby"><b>Sent by: </b></label>
				    <input type="text" maxlength="64" placeholder="Enter email.." name="sentby" required /><br />

				    <label for="sentto"><b>Sent to: </b></label>
				    <input type="text" maxlength="64" placeholder="Enter email.." name="sentto" required /><br />

				    <label for="weight"><b>Weight: </b></label>
				    <input type="number" placeholder="Enter weight.." name="weight"  step="0.001" required/><br />

					<label for="deliverytype"><b>Delivery type</b></label>
					<select class="newdeliverytype">
						<option value="office">Office</option>
						<option value="address">Address</option>
					</select>
					<div class="officeList">
						<label>Which office:</label>
						<select>
							<option value="" selected="selected"> </option>
							<option th:each="office : ${offices}" th:text="${office.city + ', ' + office.address}"></option>
						</select>
					</div>
					<div class="addressPick">
						<label>Address for delivery:</label>
						<input type="text" placeholder="Enter address.." />
					</div>

				    <label for="status"><b>Status: </b></label>
				    <select for="status">
				    	<option disabled selected>Select status..</option>
				    	<option value="accepted">Accepted</option>
				    	<option value="notaccepted">Not accepted</option>
				    </select>
				    <input type="button" value="Submit" class="btnsubmit" onclick="edit()">
				</form>
			</div>
		</ul>
		<ul class="reference-nav clearfix">
			<a class="reference-title" href="#"><li>Offices <img class="arrow" src="images/icons/arrowdown.png" /></li></a>
			<div class="reference-info clearfix">
				
				<table class="blueTable officeT">
					<thead>
					<tr>
					<th>City</th>
					<th>Address</th>
					<th>Working time</th>
					<th class="edit">Edit</th>
					<th class="delete">Delete</th>
					</tr>
					</thead>
					<tfoot>
					</tfoot>
					<tbody>
					<tr th:each="office : ${offices}">
					<td th:text="${office.city}"></td>
					<td th:text="${office.address}"></td>
					<td th:text="${'Monday-Friday: ' + office.workingTime}"></td>
					<td class="edit"><a href="#"><img class="tableicon" src="images/icons/edit.png" /></a></td>
					<td class="delete"><a th:href="@{/delete-office(officeId=${office.id})}"><img class="tableicon" alt ="Delete" src="images/icons/delete.png" /></a></td>
					</tr>
				</tbody>
				</table>
				<button class="registerOffice">Register new office</button>
				<form class="officereg" th:action="@{/create-office}" th:object="${office}" method="post">
					<h3 class="pagetitle">Register new office</h3>
					<label for="sentby"><b>City: </b></label>
				    <select th:field="*{city}">
						<option value="" selected="selected"> </option>
						<option th:each="city : ${municipalities}" th:text="${city.name}" th:value="${city.name}" ></option>
					</select>

				    <label for="sentto"><b>Address: </b></label>
				    <input type="text" placeholder="Enter address.." th:field="*{address}" name="officeaddress" max-length="80" required /><br />

				    <label for="weight"><b>Working time</b></label>
				    <input type="text" placeholder="Monday-Friday: " name="worktime" th:field="*{workingTime}" step="0.001" required/><br />
				    <input type="submit" value="Submit" class="btnsubmit">
				</form>
				<form class="officeedit">
					<h3 class="pagetitle">Edit office</h3>
					<label for="sentby"><b>City: </b></label>
				    <input type="text" placeholder="Enter city.." name="city" maxlength="30" required /><br />

				    <label for="sentto"><b>Address: </b></label>
				    <input type="text" placeholder="Enter address.." name="officeaddress" max-length="80" required /><br />

				    <label for="weight"><b>Working time</b></label>
				    <input type="text" placeholder="Monday-Friday: " name="worktime"  step="0.001" required/><br />
				    <input type="button" value="Submit" class="btnsubmit">
				</form>
			</div>
			<ul class="reference-nav clearfix">
				<a class="reference-title" href="#"><li>For approval <img class="arrow" src="images/icons/arrowdown.png" /></li></a>
				<div class="reference-info clearfix">
				<h3 class="pagetitle">Deliveries yet to be approved</h3>
				<table class="blueTable shipmentT approvalT">
					<thead>
						<tr>
							<th>Sent by</th>
							<th>Sent to</th>
							<th>Weight</th>
							<th>Address</th>
							<th class="hidden">Employee Name</th>
							<th>Type</th>
							<th>Approve</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="shipment : ${allShipments}">
							<td class="row-data" th:text="${shipment.senderName}"></td>
							<td class="row-data" th:text="${shipment.recipientName}"></td>
							<td class="row-data" th:text="${shipment.weight}"></td>
							<td class="row-data" th:text="${shipment.shippingAddress}"></td>
							<td class="employeename" th:text="${shipment.officeEmployeeName}"></td>
							<td class="deliverytype" th:text="${shipment.isSentToAddress}"></td>
							<td class="status"><a th:href="@{/approve-shipment(shipmentId=${shipment.id})}"><img class="tableicon" src="/images/icons/yes.png"></a></td>
						</tr>
					</tbody>
					</table>
					<h3 class="pagetitle">Shipments yet to be delivered</h3>
					<table class="blueTable shipmentT toBeDeliveredT">
						<thead>
							<tr>
								<th>Sent by</th>
								<th>Sent to</th>
								<th>Address</th>
								<th class="hidden">Status</th>
								<th>Type</th>
								<th>Approve</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="shipment : ${allShipments}">
								<td class="row-data" th:text="${shipment.senderName}"></td>
								<td class="row-data" th:text="${shipment.recipientName}"></td>
								<td class="row-data" th:text="${shipment.shippingAddress}"></td>
								<td class="deliverstatus" th:text="${shipment.isReceived}"></td>
								<td class="deliverytype" th:text="${shipment.isSentToAddress}"></td>
								<td class="status"><a th:href="@{/approve-shipment(shipmentId=${shipment.id})}"><img class="tableicon" src="/images/icons/yes.png"></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</ul>
		</ul>
				<!-- 
					AND THIS COMMENT
				-->		
		</div>
		<div th:replace="fragments/footer::foot"></div>
	</body>
</html>