<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/headtags::headtags">
    <title>Login - NBU Express</title>
</head>
<body>
<div th:replace="fragments/head::head"></div>
<table id="show-beers" class="table table-hover text-center table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th class="th-sm">Name</th>
        <th class="th-sm">Country</th>
        <th class="th-sm">Brewery</th>
        <th class="th-sm">Alc. by volume</th>
        <th class="th-sm">Style</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="shipment : ${allShipments}">
        <td class="row-data" th:text="${shipment.senderName}"></td>
        <td class="row-data" th:text="${shipment.recipientName}"></td>
        <td class="row-data" th:text="${shipment.officeEmployeeName}"></td>
        <td class="row-data" th:text="${shipment.courierName}"></td>
        <td class="row-data" th:text="${shipment.shippingAddress}"></td>
    </tr>
    </tbody>
    <tfoot>
</table>

<div th:replace="fragments/footer::foot"></div>
</body>
</html>