<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>
<h2>Register Page</h2>
<p>
    <i th:if="${error != null}" th:text="${error}" style="color: red"/>
</p>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <label>Email:</label>
    <br/>
    <input type="text" th:field="*{email}" required/>
    <br/>
    <label>Password:</label>
    <br/>
    <input type="password" th:field="*{password}" required/>
    <br/>
    <label>Phone number:</label>
    <br/>
    <input type="text" th:field="*{phoneNumber}" required/>
    <br/>
    <label>Name:</label>
    <br/>
    <input type="text" th:field="*{name}" required/>
    <br/><br/>
    <input type="submit" value="Register"/>
</form>
<h3>
    <a th:href="@{/login}">Login</a>
</h3>
</body>

</html>